.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.811);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  background: var(--primary-50);
  color: var(--text-color);
  padding: 2rem;
  border-radius: 12px;
  width: 450px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;

    &:focus {
      border-color: var(--text-color);
    }
  }
}

.codeInputsContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 16px 0;
  direction: ltr !important;
}

.codeInput {
  width: 58px;
  height: 56px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease;

  &:focus {
    border-color: var(--text-color);
    transform: scale(1.05);
  }
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 12px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
}
