@font-face {
  font-family: "Vazir";
  src:
    url("/fonts/Vazir-Regular.woff2") format("woff2"),
    url("/fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src:
    url("/fonts/Vazir-Medium.woff2") format("woff2"),
    url("/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src:
    url("/fonts/Vazir-Bold.woff2") format("woff2"),
    url("/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --app-font: "Vazir";
}

html,
body,
#root {
  height: 100%;
  font-family: var(--app-font) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[dir="rtl"] {
  direction: ltr;
}

/* وقتی زبان LTR شد */
[dir="ltr"] {
  direction: rtl;
}
* {
  font-family: "Vazir" !important;
  box-sizing: border-box;
}

input,
textarea,
select,
button,
pre,
code,
h3,
p,
span,
h2,
h1,
h4,
h5,
h6 {
  font-family: "Vazir" !important;
  font-variant-numeric: tabular-nums;
}
